<div class="card">
  
  <h1>Login to Sous Chef</h1>
    <% if flash[:error] %>
      <ul>
          <li class="error"><%= flash[:error] %></li>
      </ul>
    <% end %>

  <%= form_tag "/chefs/login", method: "POST", class: 'form' do %>
    <%= label_tag :email_address %>
    <%= text_field_tag :email_address %><br>

    <%= label_tag :password %>
    <%= password_field_tag :password %><br>

  <div class="btn-group">
    <%= button_tag "Login", class: "button" %>
    <%= link_to "<button>Go back</button>".html_safe, root_path, :class => "button", :method => :get %>
  </div>
    
  <% end %>
</div>