<div class="card">
  <%= form_for @chef, html: { class: "form" } do |f| %>
    <h1 class="form-header">Create an account</h1>

    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br>

    <%= f.label :email_address %>
    <%= f.text_field :email_address %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.label "Confirm password" %>
    <%= f.password_field :password_confirmation %><br>

    <div class="btn-group">
      <%= button_tag "Create", class: "button" %>
      <%= link_to "<button>Go back</button>".html_safe, root_path, :class => "button", :method => :get %>
    </div>
  <% end %>
</div>