<h1><%= "Howdy, Chef #{@chef.first_name}!" %></h1>

<% if logged_in? && logged_in_chef.id == @chef.id %>
    <div class="btn-group">
        <%= link_to "<button>Create a recipe</button>".html_safe, new_recipe_path, :method => "get", class: "button" %>
        <%= link_to "<button>Write a cooking review</button>".html_safe, new_entry_path, :method => "get", class: "button" %>
        <%= link_to "<button>Edit profile</button>".html_safe, edit_chef_path(@chef), method: :get, class: "button" %>
    </div>
<% end %>

<div class="body">
    <h2>Recipes created</h2>
    <% if @chef.recipes.length > 0 %>
        <% @chef.recipes.each do |recipe| %>
            <%= link_to recipe.title, recipe_path(recipe) %>
            <br>
    <% end %>
    <% else %>
        This chef hasn't created any recipes yet.
    <% end %>
</div>

<div class="body">
    <h2>Cooking reviews</h2>
    <% if @chef.cooking_entries.length > 0 %>
        <% @chef.cooking_entries.each do |entry| %>
            <%= link_to entry.recipe.title, recipe_path(entry.recipe) %><br>
            Date: <%= entry.date %><br>
            <% # call the emoji method here %>        
            Rating: <%= entry.rating %> / 5<br>
            Review: "<%= entry.review %>"<p>
            <div class="btn-group">
                <%= link_to "<button>Edit</button>".html_safe, edit_cooking_entry_path(entry), method: :get, class: "button" %>
                <%= link_to "<button>Delete</button>".html_safe, delete_entry_path(entry), method: :delete, class: "button" %>
            </div>
        <% end %>
    <% else %>
        This chef hasn't logged any cooking reviews yet.
    <% end %>
</div>