<h1><%= "Howdy Chef #{@chef.first_name}!" %></h1>

<% if logged_in? && logged_in_chef.id == @chef.id %>
    <%= button_to "Create a new recipe", new_recipe_path, :method => "get" %>
    <%= button_to "Edit profile", edit_chef_path(@chef), method: :get, class: "button" %>
    <%= button_to "Close account", @chef, method: :delete, class: "button" %>
    <%= button_to "Logout", logout_path, method: :post, class: "button" %>
<% end %>

<h4>Recipes created</h4>
<% if @chef.recipes.length > 0 %>
    <ul>
        <% @chef.recipes.each do |recipe| %>
            <li>
                <%= link_to recipe.title, recipe_path(recipe) %>
            </li>
            <br>
        <% end %>
    </ul>
<% else %>
    This chef hasn't created any recipes yet.
<% end %>

<h4>Cooking reviews</h4>
<% if @chef.cooking_entries.length > 0 %>
<ul>
    <% @chef.cooking_entries.each do |entry| %>
        <li>
        <%= link_to entry.recipe.title, recipe_path(entry.recipe) %><br>
        Date: <%= entry.date %><br>
        "<%= entry.review %>"<br>
        <%= entry.rating %>/10<br>
        </li><br>
    <% end %>
</ul>
<% else %>
    This chef hasn't logged any cooking reviews yet.
<% end %>