<h1><%= @recipe.title %></h1>
<h3>Created by <%= link_to "Chef #{@recipe.chef.first_name} #{@recipe.chef.last_name}", chef_path(@recipe.chef) %></h3>

<h4>Meal category: <%= @recipe.meal_category %></h4>
<h4>Ingredients</h4>
<ul>
    <% @recipe.ingredients.each do |ingredient| %>
        <li>
            <%= "#{ingredient.quantity}, #{ingredient.name}" %>
        </li>
        <br>
    <% end %>
</ul>

<h4>Cooking steps</h4>
<ol>
    <% @recipe.cooking_steps.each do |step| %>
        <li>
            <%= step.content %>
        </li>
        <br>
    <% end %>
</ol>

<h4>Reviews</h4>
<% @recipe.cooking_entries.each do |entry| %>
    <%= link_to "Chef #{entry.chef.first_name} #{entry.chef.last_name}", chef_path(entry.chef) %><br>
    Date: <%= entry.date %><br>
    "<%= entry.review %>"<br>
    <%= entry.rating %>/10<br>
    
<% end %>