<h1><%= @recipe.title %></h1>
<h3>Created by <%= link_to "Chef #{@recipe.chef.first_name} #{@recipe.chef.last_name}", chef_path(@recipe.chef) %></h3>

<% if logged_in? && @logged_in_chef.id == @recipe.chef.id %>
  <div class="btn-group">
          <%= link_to "<button>Edit recipe</button>".html_safe, edit_recipe_path(@recipe), method: :get, class: "button" %>
          <%= link_to "<button>Delete recipe</button>".html_safe, @recipe, method: :delete, data: {confirm: "Are you sure?"}, class: "button-success" %>
  </div>
<% end %></p>

<hr>

<h2>Meal category</h2>
<h3><%= link_to @recipe.meal_category, recipes_path %></h3>

<div class="body">
<h2>Ingredients</h2>
<ul>
    <% @recipe.ingredients.each do |ingredient| %>
        <li>
            <%= "#{ingredient.quantity}, #{ingredient.name}" %>
        </li>
        <br>
    <% end %>
</ul>
</div>

<div class="body">
<h2>Cooking steps</h2>
<ol>
    <% @recipe.cooking_steps.each do |step| %>
        <li>
            <%= step.content %>
        </li>
        <br>
    <% end %>
</ol>
</div>

<hr>

<h2>Cooking reviews</h2>
<% if @recipe.cooking_entries.length > 0 %> 
    <% @recipe.cooking_entries.each do |entry| %>
        <h3>By <%= link_to "Chef #{entry.chef.first_name} #{entry.chef.last_name}", chef_path(entry.chef) %></h3>
        <p>Date: <%= entry.date %><br>
        Rating: <%= entry.rating %> / 5<br>
        Review: "<%= entry.review %>"</p>
    <% end %>
<% else %>
    <p>This recipe doesn't have any reviews yet.</p>
<% end %></p>