<!DOCTYPE html>
<html>
  <head>
    <title>Sous Chef</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <% if logged_in? %>
    <header class='clearfix'>
      <div class="nav">
        <ul>
          <li><%= link_to "View all recipes", recipes_path %></li>
        </ul>
      </div>

      <div class="nav">
        <ul>
          <li><%= link_to "My profile", @logged_in_chef %></li>
        </ul>
      </div>

      <div class="nav">
        <ul>
          <li><%= link_to "Logout", logout_path, method: :post %></li>
        </ul>
      </div>
    </header>
  <% end %>

  <div class='content'>
    <%= yield %>
  </div>

  </body>
</html>
