<div class="card">
  <%= form_for @entry, html: { class: "form" } do |f| %>
    <h1 class="form-header">Log a new cooking entry</h1>

    <%= f.label :recipe_id %><br />
    <%= f.collection_select :recipe_id, Recipe.all, :id, :title %></p>

    <%= f.label "Date cooked" %><br />
    <%= f.text_field :date %><br />

    Rating<br />
    <%= select_tag :rating, options_for_select(CookingEntry::Ratings) %>

    <%= f.label "Review (maximum 500 characters)" %><br />
    <%= f.text_area :review %><br />
    
    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <%= f.submit "Save", class: "button" %>
  <% end %>
</div>