<div class="card">
  <%= form_for @entry, html: { class: "form" } do |f| %>
    <h1 class="form-header">Write a cooking review</h1>

    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <%= f.label :recipe_id %><br />
    <%= f.collection_select :recipe_id, @other_recipes, :id, :title %></p>

    <%= f.label "Date cooked"%> <br> <%= "(Example format: April 20, 2020)" %><br />
    <%= f.text_field :date %><br />

    <%= f.label :rating %><br />
    <%= f.text_field :rating %><br />

    <%= f.label "Review (maximum 500 characters)" %><br />
    <%= f.text_area :review %><br />

    <%= f.submit "Create review", class: "button" %>
  <% end %>
</div>